.App {
    display: flex;
    margin: 0 auto;
}

.wishlist {
    display: flex;
    flex-direction: column;
    max-width: 1980px;
    margin: auto;
    justify-content: center;
}

.wishlist__adding-form {
    margin: 0 auto;
}

.wishlist__adding-form__title {
    color: #0099FF;
    margin: 10px auto;
    font-size: 30px;
    font-weight: bold;
}

.wishlist__adding-form__input-with-button {
    margin: 2em;
}

.wishlist__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
}

.wishlist__cards-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    background-color: #0099FF;
    border-radius: 15px;
    color: #FFFFFF;
    min-width: 380px;
    max-width: 435px;
}

.wishlist__title-container {
    display: flex;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-weight: 700;
}

.wishlist__title-container__editable-span {
    padding-right: 10px;
    font-size: 25px;
}

.wishlist__title-container__super-button {
    font-size: 22px;
    align-content: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.error-message {
    color: #FEFE00;
    font-weight: 500;
}

.main-container {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.table-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: #FFFFFF;
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #DADADA;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .08);
}

.table-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border-bottom: 1px solid #DADADA;
    color: #00BFFF;
    font-weight: 500;
}

.row-item {
    display: flex;
    flex: 1;
    font-size: 14px;
    padding: 8px 0;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease-in-out;
}

.row-item:hover {
    cursor: pointer;
    background-color: #FFFFFF;
}

.heading {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
}

.selected {
    opacity: 0.5;
    text-decoration: line-through;
}

.row-sub-container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.row-sub-container .row-item {
    padding: 8px 0;
    border-bottom: 1px solid #DADADA;
}

.table-row:last-child,
.row-sub-container .row-item:last-child {
    border-bottom: 0;
}

.row-item.checkbox {
    max-width: 40px;
    justify-content: center;
}

.row-item.title {
    justify-content: center;
    min-width: 150px;
}

.wishlist__card-filters {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wishlist__card-filter-container {
    display: flex;
}

.wishlist__card-filter-title {
    min-width: 180px;
}

.wishlist__card-filter-select {
    min-width: 110px;
}
